@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp);

body, html {
	overflow-x: hidden;
}

#Wrapper {
	height: 100%;
	width: inherit;
	overflow-x: hidden; 
	background: #2d2d2d;
}

#headingWrapper {
	width: inherit;
    height: 41.3vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoWrapper {
	position: relative;
	z-index: 5;
}

section {
    display: none;
    transition: ease-in-out 0.3s;
}

section:first-of-type {
    display: block;
}

.block {
    display: block;
}

#bgvid {
	width: 100%;
    position: absolute;
}

.innerTitle {
	font-size: 50px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 15.52px #000;
    color: white;
    border-bottom: 1px solid white;
}

.descInfo {
    color: white;
    font-size: 22px;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 1em;
    text-shadow: 1px 1px 15.52px #000;
}

#hunterDescWrapper, #worldDescWrapper {
	background: url(https://static.cdprojektred.com/thewitcher.com/gfx/witcher3/bg-monsterhunter.jpg?1456839002);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 51vw;
    min-height: 600px;
    opacity: 1;
    background-position: top center;
    box-shadow: inset 0px 0px 20px 5px;
}

#worldDescWrapper {
	background: url(https://static.cdprojektred.com/thewitcher.com/gfx/witcher3/bg-openworld.jpg?1456839002);
	opacity: 1;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 5px;
}

#hunterText, #worldText{
    width: 45%;
    position: relative;
    top: 25%;
    left: 8%;
    font-family: Roboto;
    background: url(https://static.cdprojektred.com/thewitcher.com/gfx/witcher3/bg-details-black.png?1456838998);
    border-width: 1px 0;
    border-style: solid;
    background-position: center center;
    background-size: 100%;
}

#hunterText {
	color: white;
}

#worldText {
	color: black;
}

#buttonContainer {
	width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 20px;
    color: #2d2d2d;
    background: white;
}

.tabButton {
	width: 260px;
    height: 43px;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    font-family: Roboto;
    background-color: #2d2d2d;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    text-shadow: 1px 1px 15.52px #fff;
}

.tabButton:hover {
	background-color: white;
	color: black;
	transition: ease-in-out 0.3s;
	text-shadow: 1px 1px 15.52px #000;
}

.whiteActive {
	background-color: white;
	color: black;
	transition: ease-in-out 0.3s;
	text-shadow: 1px 1px 15.52px #000;
}

section#Specs {
    font-family: Roboto;
    background: url(https://static.cdprojektred.com/thewitcher.com/gfx/witcher3/bg-media.jpg?1456839000) no-repeat;
    background-position: top center;
    height: 100%;
    box-shadow: inset 0px 0px 20px 5px;
    background-size: cover;
}

.sectionTitle {
	text-align: center;
    padding-top: 100px;
    font-size: 50px;
    text-shadow: 1px 1px 15.52px #000;
    color: white;
}

#containerSpecs {
	align-items: center;
    justify-content: space-around;
    position: relative;
    font-size: 22px;
    padding: 50px;
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    text-align: center;
    text-shadow: 1px 1px 15.52px #000;
    color: white;
}

#minimum, #recommended {
	padding: 50px;
    background: url(https://static.cdprojektred.com/thewitcher.com/gfx/witcher3/bg-details-black.png?1456838998);
    border-width: 1px 0;
    border-style: solid;
    background-position: center center;
    background-size: 100%;
    line-height: 2;
}

section#Reviews {
	transition: ease-in-out 0.3s;
    font-family: Roboto;
    background: url(https://images4.alphacoders.com/587/thumb-1920-587508.png) no-repeat;
    background-position: top center;
    height: 100%;
    box-shadow: inset 0px 0px 20px 5px;
    background-size: cover;
}

section#Questions {
	transition: ease-in-out 0.3s;
    font-family: Roboto;
    background: url(http://assets.vg247.com/current//2015/05/the_witcher_3_gwent.jpg) no-repeat;
    background-position: top center;
    height: 100%;
    box-shadow: inset 0px 0px 20px 5px;
    background-size: cover;
}

.placeholderAnnouncement {
	padding-top: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 15.52px #000;
    line-height: 45px;
}

.areaContainer {
	display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 100px;
}

input[type=button] {
	width: 260px;
    height: 43px;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    font-family: Roboto;
    background: transparent;
    border: 2px solid white;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    text-shadow: 1px 1px 15.52px #fff;
    outline: none !important;
}

input[type=button]:hover {
	background-color: white;
	color: black;
	transition: ease-in-out 0.3s;
	text-shadow: 1px 1px 15.52px #000;
}

#userReview, #userQuestion {
	width: 50%;
    margin-bottom: 30px;
    max-width: 951.500px;
    max-height: 150px;
    min-width: 951.500px;
    min-height: 150px;
    box-shadow: 0px 0px 15px 0px;
    font-family: Roboto;
    font-size: 22px;
}

#faqPositioning {
	text-align: left;
    color: white;
    font-size: 22px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#faqContainer {
    width: 80%;
    background: url(https://static.cdprojektred.com/thewitcher.com/gfx/witcher3/bg-details-black.png?1456838998);
    border-width: 1px 0;
    border-style: solid;
    background-position: center center;
    background-size: 100%;
    line-height: 2;
}

.faqButton {
    color: white;
    font-size: 22px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    transition: ease-in-out 0.2s;
    outline: none !important;
    background: url(https://static.cdprojektred.com/thewitcher.com/gfx/witcher3/bg-details-black.png?1456838998);
    border-width: 1px 0;
    background-position: center center;
    background-size: 100%;
}

.fasRotationToggle{
	transition: ease-in-out 0.2s;
	transform: rotate(45deg);
}

.faqButton:hover {
	background: white;
	color: #2d2d2d;
}

.open {
	transition: ease-in-out 0.2s;
	background: white;
	color: #2d2d2d;
}

.rotation {
	transition: ease-in-out 0.2s;
	transform: rotate(45deg);
}

#one {
	margin-top: 25px; 
}

.answerMain {
	max-height: 0;
	overflow: hidden;
    margin-bottom: 20px;
    padding-left: 65px;
    transition: ease-in-out 0.3s;
}

.active {
	display: block;
}

#footerContainer {
	width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 20px;
    color: #2d2d2d;
    height: 240px;
    align-items: center;
    background: #2d2d2d;
    flex-flow: column;
}

#footerText{
	width: 260px;
    height: 43px;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    font-family: Roboto;
    background-color: #2d2d2d;
    border: none;
    text-decoration: none;
    opacity: 0.3;
}

@media all and (max-width: 1050px) {
	#userReview {
		max-width: 587px;
		min-width: 587px;
	}
}

@media all and (max-width: 930px) {
	.innerTitle {
		font-size: 35px;
	}

	.descInfo {
		font-size: 18px;
	}

	img.logo {
		height: 260px;
	}

	#containerSpecs {
		font-size: 18px;
	}

    #faqPositioning {
        text-align: center;
    }

    .answerMain {
        padding-left: 0;
    }

    .faqResize, .fas {
        font-size: 18px;
    }
}

@media all and (max-width:768px) {
    #hunterDescWrapper, #worldDescWrapper {
        min-height: 500px;
    }

    img.logo {
        height: 180px;
    }

    .tabButton {
        font-size: 20px;
    }

    #hunterText, #worldText {
        width: 85%;
        position: relative;
        top: 25%;
        left: 8%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        align-self: center;
    }

    .sectionTitle {
        text-align: center;
        padding-top: 50px;
        font-size: 50px;
        text-shadow: 1px 1px 15.52px #000;
        color: white;
    }

    #containerSpecs {
        padding: 0;
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        flex-flow: column wrap;
    }
}

@media all and (max-width: 650px) {
    .tabButton {
        font-size: 17px;
    }

    #userReview {
        max-width: 450px;
        min-width: 450px;
    }

    #minimum, #recommended {
        padding: 20px;
        line-height: 1.5;
    }
}

@media all and (max-width: 535px) {
    #userReview {
        max-width: 350px;
        min-width: 350px;
    }

    .sectionTitle {
        font-size: 35px;
    }

    .placeholderAnnoucement {
        font-size: 25px;
    }

    .tabButton {
        font-size: 15px;
        width: 115px;
    }

    img.logo {
        height: 115px;
    }
}

@media all and (max-width: 400px) {
    #userReview {
        max-width: 300px;
        min-width: 300px;
    }

    #hunterText, #worldText {
        top: 15%;
    }

    .sectionTitle {
        font-size: 28px;
    }

    .placeholderAnnouncement {
        font-size: 23px;
    }

    img.logo {
        height: 80px;
    }

    .innerTitle {
        font-size: 32px;
    }
}

@media all and (max-width: 340px) {
    #userReview {
        max-width: 250px;
        min-width: 250px;
    }
}

@media all and (max-width: 315px) {
    .tabButton {
        font-size: 13px;
    }
}

@media all and (max-width: 304px) {
    #hunterText, #worldText {
        top: 10%;
    }

    .innerTitle {
        font-size: 28px;
    }

    #sendReview {
        width: auto;
    }

    #userReview {
        min-width: 200px;
        max-width: 200px;
    }
}

@media all and (max-width: 268px) {
    #hunterText {
        top: 5%;
    }
}